.add-evnt .form-group input {
    padding: 15px;
    font-size: 14px;
}
.add-evnt .form-group input:focus {
    box-shadow: none;
    border: 1px solid #0092FA;
}
.add-evnt .form-group textarea:focus {
    box-shadow: none;
    border: 1px solid #0092FA;
}
.add-evnt select {
    padding: 15px;
    font-size: 14px;
}
.add-evnt .form-group label {
    font-weight: 600;
}
form.add-evnt .form-group {
    margin-bottom: 10px;
}
.add-evnt .form-group select:focus {
    box-shadow: none;
    border: 1px solid #0092FA;
}
.btn-submit {
    background: #0092FA;
    border: 1px solid #0092FA !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}
@media screen and (max-width: 991px) {
    .sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - 60px);
        top: 60px;
        bottom: 0;
        overflow: auto;
        right: -250px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
}